body{
    background-image: url("./assets/images/Stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
  }
  img[alt~="Avatar"]{
    width: 85%;
  } 
  fieldset{
    text-align: center;
    border: none;
  }
  .theme{
      /* font-family: 'days-one'; */
      font-size: '30px';
      color: #FFE807;
      text-decoration: none;
      font-weight:bold;
      text-transform: uppercase;
      font-family: helvetica;
  }
  #player1,#player2,#player3,#player4,#player5{
    /* flex-basis: 0 0 0; */
    height: auto;
    width: 400px;
  }
  .group{
    display: flex;
    align-items: flex-start;
  }